[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
setuptools = "*"
"e1839a8" = {path = ".", editable = true}
pyyaml = {git = "https://github.com/yaml/pyyaml"}
"django-s3-storage" = "*"
aws = "*"
django-extensions = "*"
pylint = "*"
"psycopg2-binary" = "*"
python-docx = {git = "https://github.com/edwardtheharris/python-docx"}

[requires]
python_version = "3.7.0"
