[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
Django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
python-docx = {git = "git://github.com/executive-consultants-of-los-angeles/python-docx.git", editable = false, ref = "master"}
setuptools = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

python_version = "3.7"
