{% for name,section in sections.items %}
  {% if name == 'intro' %}<h1 align="center">{{ section.name }}</h1><h2 align="center">{{ section.position }}</h2>{% endif %}
  {% if name == 'summary' %}<h3 align="center">{{ section.content }}</h3>{% endif %}
  {% if name == 'skills' %}
    <h2 align="center">Skills</h2>
    <table align="center">
      {% for skill,skills in section.items %}<tr>
          <td><b>{{ skills.name }}</b></td>
          <td>{% for sub,subs in skills.items %}{% if sub != 'name' and sub != 'start' and sub != 'experience_value' and sub != 'experience_string' %}
            <i>{{ subs.name}}</i>{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}
          </td>
        </tr>{% endfor %}
    </table>
  {% endif %}
  {% if name == 'experience' %}
    <h2 align="center">Experience</h2>
    <table align="center" border="1">
    {% for experience in section %} 
      {% for job,content in experience.items %} 
        {% if job != 'introduction' %}
          {% cycle '<tr>' '' '' %}
            <td>
              <table>
                <tr>
                  <td><b>{{ content.position }}</b>, {{ content.company }}</td>
                </tr>
                <tr>
                  <td><i>{{ content.location }}, {{ content.duration }}</i></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      {% for project in content.projects %}
                        <li>{{ project }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          {% cycle '' '' '</tr>' %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </table>
  {% endif %}
{% endfor %}
