{% for name,section in sections.items %}

  {% if name == 'intro' %}
  <h1 align="center">{{ section.name }}</h1>
  <h2 align="center">{{ section.position }}</h2>
  {% endif %}

  {% if name == 'summary' %}
  <h3 align="center">{{ section.content }}</h3>
  <h4 align="left">If you'd like to see a prettier version of this, or you want a Word formatted version of my résumé, please go here: https://xander.gahan-corporation.com/</h4>
  <h5 align="right">If you have the technical capacity, please take a look at my actual résumé on GitHub: https://github.com/gahan-corporation/rsum</h5>
  {% endif %}


  {% if name == 'skills' %}
    <h3 align="center">Skills</h3>
    <table align="center">
      {% for skill,skills in section.items %}
        <tr>
          <td><h5>{{ skill.title }}</h5></td>
          <td>
            {% for sub in skills %}
              {% if sub != 'name' and sub != 'start' and sub != 'experience_value' and sub != 'experience_string' %} 
                <b>{{ sub.title }}</b>{% if not forloop.last %},{% endif %}
              {% endif %}
            {% endfor %}  
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}


  {% if name == 'experience' %}
    <h3 align="center">Experience</h3>
    <table align="center">
    {% for experience in section %} 
      {% for job,content in experience.items %}
        {% if job != 'introduction' %}
          <tr>
            <td>{{ content.position }}, {{ content.company }}</td>
          </tr>
          <tr>
            <td>{{ content.location }}, {{ content.duration }}</td>
          </tr>
          <tr>
            <td>
              <ul>
                {% for project,pcontent in content.projects.items %}
                  <li>
                    {{ project }}
                    <ul>
                      {% for pitem in pcontent %}
                        <li>{{ pitem }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </table>
  {% endif %}
  
{% endfor %}
