{% load static %}
        <!-- Promo Banner -->
        <div id="education" class="promo-banner parallax-window" data-parallax="scroll" data-image-src="{% static 'profiles/'|add:dir|add:'/img/1920x1080/01.jpg' %}">
            <div 
              style="
                opacity: 0.65;
                background-color: white;
              "
              class="container-sm content-lg">
                <h2 style="color: black;" class="promo-banner-title">{{ section|title }}</h2>
                <p class="promo-banner-text">
                  <h3 style="font-size: 20pt; font-variant: small-caps; color: black;" class="promo-banner-text">{{ sections.education.name }}</h3>
                  <h4 style="font-size: 16pt; color: black;" class="promo-banner-text">{{ sections.education.location }}</h4>
                  <h4 style="font-size: 16pt; color: black;" class="promo-banner-text">{{ sections.education.duration }}</h4>
                  <h4 style="font-size: 16pt; color: black;" class="promo-banner-text">Tests</h4>
                  <ul>
                  {% for name, project in sections.education.projects.items %}
                      {% for p in project %}
                      <li style="font-size: 14pt; color: black;">{{ p }}</li>
                      {% endfor %}
                  {% endfor %}
                  </ul>
                </p>
            </div>
        </div>
        <!-- End Promo Banner -->
