{% load static %}
<!--========== SLIDER ==========-->
<div class="promo-block">
    <div class="container">
        <!-- start row --> 
        <div class="row">
            <div class="col-sm-6 sm-margin-b-60">
                <div class="margin-b-30">
                  <h1 class="promo-block-title">{{ sections.intro.name }}</h1>
                  <p class="promo-block-text">{{ sections.intro.position }}</p>
                </div>
                <ul class="list-inline">
                  {% for s in sections.intro.social_media_links.items %}
                    <li><a href="{{ s.1 }}" class="social-icons" target="_blank"><i class="icon-social-{{ s.0 }}"></i></a></li>
                  {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="promo-block-img-wrap">
                    <img class="promo-block-img img-responsive" src="{% static 'profiles/'|add:dir|add:'/img/mockup/avatar-01.png' %}" align="Avatar">
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->
