{% load static %}
<div id="skills" class="promo-banner parallax-window" data-parallax="scroll" data-image-src="{% static 'profiles/'|add:dir|add:'/img/1920x1080/laptop.jpg' %}">
  <!-- main column -->
  <div class="container content-lg"
    style="
      opacity: 0.95;
      background-color: white;
    "
  >
    <div class="col-xs-12">
      <!-- margin -->
        <h2>{{ section|title }}</h2>
        {% for skill, data in sections.skills.items %}
          <!-- secondary column -->
          <div class="col-xs-6">
            <!-- Progress Box -->
            {% if skill != 'start' %}
            <div class="progress-box">
              <h5>{{ data.name }} <span class="color-heading pull-right">{{ data.experience_string }}</span></h5>
              <div class="progress">
                <div class="progress-bar bg-color-base" role="progressbar" data-width="{{ data.experience_value }}"></div>
              </div>
              {% for related, skills in data.items %}
                {% if  related != 'start' and related != 'experience_value'  and related != 'name' and related != 'experience_string' %}
                <h6 style="padding-left: 20px;">{{ skills.name }} <span class="color-heading pull-right">{{ skills.experience_string }}</span></h6>
                <div class="progress progress-sub">
                  <div class="progress-bar bg-color-base" role="progressbar" data-width="{{ skills.experience_value }}"></div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <!-- End Progress Box -->
            {% endif %}
          <!-- end secondary column -->
          </div>
        {% endfor %}
    <!-- end main column -->
    </div>
  </div>
</div>
