{% load static %}        

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="summary">
    <div class="container content-lg">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-seperator margin-b-50">
                    <div class="margin-b-50">
                        <div class="margin-b-30">
                            <h2>{{ section|title }}</h2>
                            <p style="font-size: 16pt;">{{ sections.summary.content }}</p>
                            <p>
                              <a href="{% url 'docx' %}" class="btn-theme btn-theme-md btn-default-bg" style="font-variant: small-caps;">Export to Word Document</a>
                              <a href="{% url 'boring' %}" class="btn-theme btn-theme-md btn-default-bg" style="font-variant: small-caps;">Export Without Graphics</a>
                            </p>
                            <p>
                              {% if sections.summary.build_status %}
                              <table style="width: 100%; text-align: center;">
                                <tr>
                                  <td colspan="3"><h3>{{ sections.summary.build_status.0.name }}</h3></td>
                                </tr>
                                {% for sub in sections.summary.build_status %} 
                                  {% if sub.name != 'Build Status' %}
                                  <tr>
                                    {% for item in sub.items %}
                                      <td style="text-align: left;"><h5>{{ item.1.name }}</h5></td>
                                      <td style="text-align: right;"><a href="{{ item.1.link }}"><img src="{{ item.1.image }}" /></a></td>
                                    {% endfor %}
                                  </tr>
                                  {% endif %}
                                {% endfor %}
                              </table>
                              {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
