{% load static %}
{# section.contact.content.5.content #}
        <!-- Contact -->
        <div id="contact">
            <div class="bg-color-sky-light">
                <div class="container content-lg">
                    <div class="row margin-b-40">
                        <div class="col-sm-6">
                           <h2>{{ section.contact.content.2.content.0.content|title }}</h2>
                            <p>{{ section.contact.content.3.content.0.content }}</p>
                        </div>
                    </div>
                    <!--// end row -->

                <div class="row">
                  {% for s in section.contact.content %}
                    {% if s.content.0.name != 'title' %}
                      {% if forloop.counter < 3 %}
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                      {% else %}
                        <div class="col-md-3 col-xs-6">
                      {% endif %}
                            <h4>{{ s.content.0.name|title }}</h4>
                            <a href="https://maps.google.com">{{ s.content.0.content }}</a>
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
                    <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Contact -->
        <!--========== END PAGE LAYOUT ==========-->
