{% load static %}
        <!-- Contact -->
        <div id="contact">
            <div class="bg-color-sky-light">
                <div class="container content-lg">
                    <div class="row margin-b-40">
                        <div class="col-sm-6">
                           <h2>{{ section|title }}</h2>
                            <p>{{ sections.contact.message }}</p>
                        </div>
                    </div>
                    <!--// end row -->

                <div class="row">
                  {% for k,s in sections.contact.items %}
                    {% if k != 'title' and k != 'message' %}
                      {% if forloop.counter < 3 %}
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                      {% else %}
                        <div class="col-md-3 col-xs-6">
                      {% endif %}
                            <h4>{{ k|title }}</h4>
                          {% if k == 'location' %}
                            <a href="http://bit.ly/2uUAArH">{{ s }}</a>
                          {% elif k == 'web' %}
                            <a href="{{ s }}">{{ s }}</a>
                          {% elif k == 'email' %}
                            <a href="mailto:{{ s }}">{{ s }}</a>
                          {% else %}
                            <p>{{ s }}</p> 
                          {% endif %}
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
                    <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Contact -->
        <!--========== END PAGE LAYOUT ==========-->
