{% load static %}
{# section.experience #}

        <!-- Experience -->
        <div id="experience">
            <div class="container content-lg">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>{{ section.name|title }}</h2>
                        <p style="text-align: justify;">{{ section.content.0.content.0.content }}</p>
                    </div>
                </div>
                <!--// end row -->

                {% for e in section.experience %}
                  {% if forloop.counter|divisibleby:3 %}
                    <div class="row">
                  {% endif %}
                    {# e.content.5 #}
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                              {% with 'img/970x647/'|add:e.content.4.content|add:'.jpg' as image_static %}
                                <img class="img-responsive" src="{% static image_static %}" alt="Latest Products Image">
                              {% endwith %}
                            </div>
                        </div>
                        <h3><a href="#"></a>{{ e.content.2.content }}</h3>
                        <p>
                          <h5 style="color: #969696; font-variant: small-caps;">{{ e.content.3.content }}</h5>
                        </p>
                        <p>
                          <h6>{{ e.content.0.content }}, {{ e.content.1.content }}</h6>
                        </p>
                        <p>
                          <ul>
                          {% for project  in e.content.5.content.projects.items %}
                            <li>
                              {{ project.0|title }}
                              <ul>
                                {% for i in project.1 %}
                                  <li>{{ i }}</li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endfor %} 
                          </ul>
                        </p>
                    </div>
                  {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <!--// end row -->
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- End Experience -->
