{% load static %}
        <!--========== SLIDER ==========-->
        <div class="promo-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-60">
                      {% for s in section.value %}
                        {% if s.name == 'name_position' %}
                        {{ s.name }}
                        <div class="margin-b-30">
                          {% for np in s.value %}
                            {% if np.name == 'name' %}
                            <h1 class="promo-block-title">{{ np.value }}</h1>
                            {% endif %}
                            {% if np.name == 'position' %}
                            <p class="promo-block-text">{{ np.value }}</p>
                            {% endif %}
                            <pre>{{ section }}</pre>
                          {% endfor %}
                        </div>
                        {% endif %}
                        <ul class="list-inline">
                            <li><a href="#" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-github"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-behance"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                        </ul>
                      {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <div class="promo-block-img-wrap">
                            <img class="promo-block-img img-responsive" src="{% static 'img/mockup/avatar-01.png' %}" align="Avatar">
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!--========== SLIDER ==========-->
