                      <h2>{{ section.name|title }}</h2>
                        <!-- Progress Box -->
                      {% for sub in section.value %}
                        <div class="progress-box">
                            <h5>{{ sub.name }} <span class="color-heading pull-right">87%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-color-base" role="progressbar" data-width="87"></div>
                            </div>
                            {% for v in sub.value %}
                              <h6 style="padding-left: 20px;">{{ v.name }} <span class="color-heading pull-right">{{ v.value }}</span></h6>
                              <div class="progress progress-sub">
                                  <div class="progress-bar bg-color-base" role="progressbar" data-width="87"></div>
                              </div>
                            {% endfor %}
                        </div>
                        <!-- End Progress Box -->
                      {% endfor %}
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End About -->

