{{ section.skills }}

    <h2>Skills</h2>
    <!-- Progress Box -->
    {% for skill,data in section.skills.iteritems %}
      <div class="progress-box">
        <h5>{{ skill }} <span class="color-heading pull-right">{{ data.competence }}%</span></h5>
        <div class="progress">
          <div class="progress-bar bg-color-base" role="progressbar" data-width="{{ data.competence }}"></div>
        </div>
        {% for related,skills in data.iteritems %}
          <h6 style="padding-left: 20px;">{{ skills.name }} <span class="color-heading pull-right">{{ skills.competence}}%</span></h6>
          <div class="progress progress-sub">
            <div class="progress-bar bg-color-base" role="progressbar" data-width="{{ skills.competence }}"></div>
          </div>
        {% endfor %}
        </div>
        <!-- End Progress Box -->
      {% endfor %}
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End About -->
