{% load static %}        

{{ section.content }}
        <!--========== PAGE LAYOUT ==========-->
        <!-- About -->
        <div id="summary">
            <div class="container content-lg">
                <div class="row">
                    <div class="col-sm-5 sm-margin-b-60">
                        <img class="full-width img-responsive" src="{% static 'img/500x700/01.jpg' %}" alt="Image">
                    </div>
                    <div class="col-sm-7">
                        <div class="section-seperator margin-b-50">
                            <div class="margin-b-50">
                                <div class="margin-b-30">
                                    <h2>{{ section.name|title }}</h2>
                                    <p style="font-size: 16pt;">{{ section.content.0.content.0.content }}</p>
                                    <p>
                                      <table style="width: 100%; text-align: center;">
                                        <tr>
                                          <th>
                                            <td colspan="3">Build Status</td>
                                          </th>
                                        </tr>
                                        {% for sub in section.content.1.content %} 
                                          {% if sub.content != 'Build Status' %}
                                          <tr>
                                            {% for item in sub.content.items %}
                                              <td style="font-size: 13pt; font-weight: bold;">{{ item.1.name }}</td><td><img src="{{ item.1.image }}" /></td>
                                            {% endfor %}
                                          </tr>
                                          {% endif %}
                                        {% endfor %}
                                      </table>
                                    </p>
                                </div>
                                <a href="https://galaxy.ansible.com/executive-consultants-of-los-angeles/rsum/" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Download my CV</a>
                            </div>
                        </div>
