{% load static %}
        <!-- Values -->
        <div id="values">
            <div class="bg-color-sky-light" data-auto-height="true">
                <div class="container content-lg">
                  <div class="row margin-b-40">
                      <div class="col-sm-6">
                          <h2>{{ section|title }}</h2>
                          <p style="text-align: justify">{{ sections.values.0.introduction.content }}</p>
                      </div>
                  </div>
                  <div class="row row-space-2 margin-b-4">
                  {% for value in sections.values %}
                    {% if name != 'Introduction' %}
                      {% for name, row in value.items %}
                      <div {{ row.col|safe }}>
                        <div {{ row.service|safe }}> 
                          <div class="service-element">
                            <i {{ row.icon|safe }}></i>
                          </div>
                          <div class="service-info">
                            {% if forloop.parentloop.counter == 3 %}
                            <h3 style="color: white;">{{ row.name|title }}</h3>
                            <p style="color: white;" class="margin-b-5">{{ row.text|safe }}</p>
                            {% else %}
                            <h3>{{ row.name|title }}</h3>
                            <p class="margin-b-5">{{ row.text|safe }}</p>
                            {% endif %}
                          </div>
                          <!-- <a href="#" class="content-wrapper-link"></a> -->
                        </div>
                      </div>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  </div>    
                  <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Values -->
