<!DOCTYPE html>
<!-- ==============================
    Project:        CV for Edward A. Harris of ECLA 
    Version:        1.0
    Author:         ECLA 
    Primary use:    Corporate, Marketing 
    Email:          info@ecla.solutions
    Follow:         http://www.twitter.com/eclacfo
    Like:           http://www.facebook.com/eclacfo
    Website:        http://ecla.solutions
================================== -->
<html lang="en">
  <head>
    <meta value="{{ cv.name }}" />
  </head>
  <body>
    <p>{{ cv.sections }}</p>
    <p>{{ cv.sections|length }}</p>
    {% for section in cv.sections %}
      <h1>{{ section.name }}</h1>
      <p>{{ forloop.counter0 }}</p>
      <p>{{ section }}</p>
      {% if section.iterable == True %}
        {% for sub in section.value %}
          <h2>{{ sub.name }}</h2>
          {% if sub.value.iterable == True %}
            This is broken.
          {% endif %}
          {% for i in sub.value %}
            <p>{{ i.value.value }}</p>
            <b>{{ i }}</b>
          {% endfor %}
          <p>{{ sub }}<p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </body>
</html>
