<!DOCTYPE html>
<!-- ==============================
    Project:        CV for Edward A. Harris of ECLA 
    Version:        1.0
    Author:         ECLA 
    Primary use:    Corporate, Marketing 
    Email:          info@ecla.solutions
    Follow:         http://www.twitter.com/eclacfo
    Like:           http://www.facebook.com/eclacfo
    Website:        http://ecla.solutions
================================== -->
<html lang="en">
  <head>
    <meta value="{{ cv.name }}" />
    <title>{{ cv.name }}</title>
  </head>
  <body>
    {% for section in cv.sections %}
      <h1>{{ section.name }}</h1>
      <p>{{ forloop.counter0 }}</p>
      {% with template_name=section.name|stringformat:"s"|add:".html" %}
        {% include 'home/sections/'|add:template_name %}
      {% endwith %}
    {% endfor %}
  </body>
</html>
