---
- name: "Create {{ inventory_hostname }} DB."
  postgresql_db:
    name: "{{ inventory_hostname }}"
    state: "present"
    login_host: "apsql"
    login_user: "psql"
    port: "5432"
...
# vim: ft=ansible:
